{% extends 'layoutEmail.html.twig' %}

{% block title %}Wild Series
{% endblock %}

{% block body %}
	<h1>Nouvel épisode
		{{ episode.title }}
		créé</h1>
	<p>Hello, un nouvel épisode
		{{ episode.title }} {{ episode.number }} 
		vient d'être créé sur Wild Series</p>
	<p>Synopsis :
		{{ episode.description }}</p>

<a href class="return text-decoration-none fs-5 mx-3" "{{ path('app_episode_index') }}">Retour à la liste des épisodes</a>

{% endblock %}
