{% extends 'base.html.twig' %}

{% block title %}Série #{{ season.program.id }}
{% endblock %}

{% block body %}
		<div class="media">
			<img class="align-self-start mr-3" src="{{season.program.poster}}" alt="{{ season.program.title }} poster">
			<div class="media-body">
				<h1 class="mt-0">{{ season.id }}{{ season.year }}{{ season.number }}{{ season.program.id }}></h1>
				<p>{{ season.description }}</p>
				<p>Catégorie :
					{{ season.program.category.name }}</p>
			</div>
		</div>
        {% for episode in season.episodes %}
			<a href="{{ path('program_season_show', { 'program': program.Id, 'season': season.Id }) }}" >{{episode.title}}</a>
		{% endfor %}

		<a href="{{ path('program_index') }}">
			Retour à la liste des programmes
		</a>
	{% endblock %}
