<ul>
	<li>
		<a href="{{ path('app_index') }}">Page d'accueil</a>
	</li>
</ul>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
	<div class="container-fluid">
		<a class="navbar-brand" href="#">Navbar</a>
		<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>
		<div class="collapse navbar-collapse" id="navbarNavAltMarkup">
			<div class="navbar-nav">
				<a class="nav-link active" aria-current="page" href="{{ path('app_index')}}">Home</a>
				{{ component('navbar') }}
				<a class="nav-link" href="{{ path('program_index') }}">Séries</a>
				<a class="nav-link" href="{{ path('app_episode_index') }}">épisodes</a>

					{% if app.user %}

						{{ app.user.email }}

						<a class="nav-link" href="{{ path('app_logout') }}">
							Se déconnecter</a>

					{% else %}

						<a class="nav-link" href="{{ path('app_login') }}">
							Se connecter</a>

					{% endif %}

			</div>
		</div>
	</div>
</nav>
